* {
    margin: 0;
}

:root {
    --primary-bg-color: #00030b;
    --secondary-bg-color: #2176da;
    --primary-font-color: #a4ceff;
    --secondary-font-color: #fff;
    --tertiary-font-color: #e0e0e1;
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Montserrat", 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

h1,
p,
nav i {
    color: var(--primary-font-color);
}

h2,
h3,
i,
footer p {
    color: var(--secondary-font-color);
    font-weight: 400;
}

#menu-items a {
    color: var(--tertiary-font-color);
}



/* Header Section */
header {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 4rem;
    letter-spacing: -4px;
    line-height: .85em;
    padding: 50px;
}

#nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuBtn,
#closeBtn {
    position: absolute;
    display: none;
}

#menu-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
}

#menu-items a {
    font-size: 2rem;
    margin: Auto 40px;
}

nav h1,
#hero-title h1 {
    width: min-content;
}

#hero {
    position: relative;
}

#hero-title {
    position: absolute;
    top: 50%;
    right: -100px;
    font-size: 3.8rem;
    letter-spacing: -10px;
    line-height: 1.8em;
    transform: translate(-50%, -50%);
}

#hero-title h2 {
    margin: 0 0 10px 0;
    letter-spacing: -2px;
}

#hero-img {
    height: 600px;
    width: 100%;
    border: 2px solid #fff;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
}



/* Main Section */
main {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#about-section,
#tech-section {
    width: 40%;
    height: 60%;
    margin: auto 0;
}

main h3 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0 0 75px 0;
}

#about-section h3 {
    width: 100%;
}

#about-text {
    display: flex;
}

#about-text p {
    font-size: 1.2rem;
    line-height: 1.6em;
    padding-right: 50px;
}

#tech-section span {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#tech-section span i {
    font-size: 6rem;
    margin: 0 50px 50px 0;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-square-js {
    color: #F0DB4F;
}

.fa-square-git {
    color: #F1502F;
}

.fa-npm {
    color: #CC3534;
}

.fa-react {
    color: #61dbfb;
}



/* Footer Section */

footer {
    height: 30vh;
    background-color: var(--secondary-bg-color);
    text-align: center;
}

footer span {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

footer span i {
    font-size: 4rem;
    margin: 40px 0;
}

footer p {
    margin: 30px;
}