* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00030b;
}

#menu-items a {
    color: #e0e0e1;
    text-decoration: none;
}

h1,
main p,
nav i {
    color: #a4ceff;
}

h2,
h3,
footer i,
footer p {
    color: #fff;
    font-weight: 400;
}

footer {
    background-color: #2176da;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -2px;
    line-height: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

p {
    font-size: .85rem;
    line-height: 1.8em;
}

#tech-section i {
    font-size: 3rem;
}

header,
main {
    margin: 10%;
}

/* Header Section */
#menu-items {
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5rem 0 0 0;
    transition: all .3s ease-in;
    opacity: 1;
}

#menu-items.hidden {
    right: -100%;
    opacity: 0;
}

#menu-items li {
    font-size: 1.5rem;
    margin: 1.8em 2em 0 0;
    list-style-type: none;
    width: min-content;
}

header {
    position: relative;
}

nav h1 {
    width: min-content;
    margin: 10% 0;
}

#nav-menu i.hidden {
    display: none;
}

nav i {
    font-size: 1.6rem;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
}

#hero {
    width: 100%;
    position: relative;
    z-index: -2;
}

#hero-title {
    position: absolute;
    width: min-content;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
}

#hero-img {
    border: 2px solid #fff;
    border-left: 0;
    border-right: 0;
    height: 100%;
    width: 100%;
}

/* Main Section */
main h3 {
    margin: 50px 0 30px 0;
}

main p {
    margin: 0 0 30px 0;
}

#tech-section span {
    display: flex;
    justify-content: space-between;
}

#tech-section {
    margin-bottom: 150px;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-square-js {
    color: #f0db4f;
}

.fa-square-git {
    color: #f1502f;
}

.fa-npm {
    color: #cc3534;
}

.fa-react {
    color: #61dbfb;
}

/* Footer Section */
#contact span {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
}

#contact i {
    font-size: 2rem;
}

#contact p {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px 0;
}




@media (min-width: 1025px) {
    h1 {
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: -2px;
        line-height: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: .85rem;
        line-height: 1.8em;
    }

    #tech-section i {
        font-size: 3rem;
    }

    header,
    main {
        margin: 10%;
    }

    /* Header */
    #menu-items {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        padding: 5rem 0 0 0;
    }

    #menu-items.hidden {
        right: -100%;
        opacity: 0;
    }

    nav i {
        font-size: 1.6rem;
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 2;
    }

    #hero {
        width: 100%;
        position: relative;
        z-index: -2;
    }

    #hero-title {
        position: absolute;
        width: min-content;
        top: 50%;
        right: -10%;
        transform: translate(-50%, -50%);
    }

    #hero-img {
        border: 2px solid #fff;
        border-left: 0;
        border-right: 0;
        height: 100%;
        width: 100%;
    }

    main h3 {
        margin: 50px 0 30px 0;
    }

    main p {
        margin: 0 0 30px 0;
    }

    #tech-section span {
        display: flex;
        justify-content: space-between;
    }

    #tech-section {
        margin-bottom: 150px;
    }

    /* Footer */
    #contact span {
        display: flex;
        justify-content: space-evenly;
        padding: 40px 20px;
    }

    #contact i {
        font-size: 2rem;
    }

    #contact p {
        text-align: center;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }
}